{% load static %}

<!-- Blog Start -->
<div class="container-fluid pt-5" id="blog">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Blog</h1>
            <h1 class="position-absolute text-uppercase text-primary">Latest Blog</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-5">
                <div class="position-relative mb-4">
                    <img class="img-fluid rounded w-100" src="img/blog-1.jpg" alt="">
                    <div class="blog-date">
                        <h4 class="font-weight-bold mb-n1">01</h4>
                        <small class="text-white text-uppercase">Jan</small>
                    </div>
                </div>
                <h5 class="font-weight-medium mb-4">Rebum lorem no eos ut ipsum diam tempor sed rebum elitr ipsum</h5>
                <a class="btn btn-sm btn-outline-primary py-2" href="">Read More</a>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="position-relative mb-4">
                    <img class="img-fluid rounded w-100" src="img/blog-2.jpg" alt="">
                    <div class="blog-date">
                        <h4 class="font-weight-bold mb-n1">01</h4>
                        <small class="text-white text-uppercase">Jan</small>
                    </div>
                </div>
                <h5 class="font-weight-medium mb-4">Rebum lorem no eos ut ipsum diam tempor sed rebum elitr ipsum</h5>
                <a class="btn btn-sm btn-outline-primary py-2" href="">Read More</a>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="position-relative mb-4">
                    <img class="img-fluid rounded w-100" src="img/blog-3.jpg" alt="">
                    <div class="blog-date">
                        <h4 class="font-weight-bold mb-n1">01</h4>
                        <small class="text-white text-uppercase">Jan</small>
                    </div>
                </div>
                <h5 class="font-weight-medium mb-4">Rebum lorem no eos ut ipsum diam tempor sed rebum elitr ipsum</h5>
                <a class="btn btn-sm btn-outline-primary py-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->