{% load static %}

<!-- Portfolio Start -->
{% block content %}
<div class="container-fluid pt-5 pb-3" id="portfolio">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Gallery</h1>
            <h1 class="position-absolute text-uppercase" style="color: #0abab5">My Portfolio</h1>
        </div>

        <div class="row justify-content-center text-center">

            <div class="card mr-2" style="width: 18rem;">
                <img src="{% static "main/img/fuse_blog.png" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fuse Blog</h5>
                    <p class="card-text">The social platform Fuse Blog is an inspiring and dynamic online community
                        where users can share their ideas, thoughts and experiences with other members</p>
                    <a href="https://github.com/robiya07/fuse_blog" class="btn btn-primary">Read more</a>
                </div>
            </div>

            <div class="card mr-2" style="width: 18rem;">
                <img src="{% static "main/img/todo2.png" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ToDo</h5>
                    <p class="card-text">The website developed on the Django. Task Management (TODO) with Authentication
                        and CRUD</p>
                    <a href="https://github.com/robiya07/todo" class="btn btn-primary">Read more</a>
                </div>
            </div>

            <div class="card mr-2" style="width: 18rem;">
                <img src="{% static "main/img/bitly.png" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bitly Clone</h5>
                    <p class="card-text">The Bitly clone is a web application designed to shorten URLs and provide the
                        user with a convenient way to manage links
                    </p>
                    <a href="https://github.com/robiya07/bitly" class="btn btn-primary">Read more</a>
                </div>
            </div>

        </div>
        <br>
        <div class="row justify-content-center text-center">

            <div class="card mr-2" style="width: 18rem;">
                <img src="{% static "main/img/mysite.png" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MySite</h5>
                    <p class="card-text">I created this site to quickly and conveniently provide the necessary
                        information about myself</p>
                    <a href="https://github.com/robiya07/mysite" class="btn btn-primary">Read more</a>
                </div>
            </div>

            <div class="card mr-2" style="width: 18rem;">
                <img src="{% static "main/img/bot3.png" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BotCommerce's bot Clone </h5>
                    <p class="card-text">Clone of telegram bots from the site botcommerce.io. This is a site for creating your own online stores
                    <br><br>
                    </p>
                    <a href="https://github.com/robiya07/project_bot" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

<!-- Portfolio End -->