{% load static %}

<!-- Services Start -->
<div class="container-fluid pt-5" id="service">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Service</h1>
            <h1 class="position-absolute text-uppercase" style="color: #0abab5">My Services</h1>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="fa fa-2x fa-laptop-code service-icon mr-3" style="background-color: #0abab5; color: white"></i>
                    <h4 class="font-weight-bold m-0">Web Development</h4>
                </div>
                <p>I provide web application development services using modern web technologies and frameworks such as Django and Flask. I can create a complete website or web application with functionality adapted to your requirements</p>

            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="fa fa-2x fa-database service-icon mr-3" style="background-color: #0abab5; color: white"></i>
                    <h4 class="font-weight-bold m-0">Databases and ORM</h4>
                </div>
                <p>I have experience with various DBMS, including MySQL, PostgreSQL and others. I am also familiar with ORMs in Python such as SQLAlchemy and Django ORM. This allows you to efficiently manage databases and easily perform data read and write operations</p>

            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="fab fa-2x fa-android service-icon mr-3" style="background-color: #0abab5; color: white"></i>
                    <h4 class="font-weight-bold m-0">Telegram Bots</h4>
                </div>
                <p>I can design and customize a Telegram bot using libraries such as python-telegram-bot, aiogram and Telebot. This will allow you to create bots for a variety of purposes, including chatbots, notifications, integration with external services, and more</p>

            </div>
        </div>
    </div>
</div>
<!-- Services End -->