{% load static %}
<!-- Skill Start -->
<div class="container-fluid py-5" id="skill">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
            <h1 class="position-absolute text-uppercase" style="color: #0abab5">My Skills</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">PROGRAMMING</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>
                                <h4>
                                    <span class="badge" style="background-color: #0abab5; color: white">Python</span>
                                    <span class="badge" style="background-color: #0abab5; color: white">SQL</span>
                                </h4>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">HARD SKILLS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">

                            <li>
                                <h4><span class="badge" style="background-color: #0abab5; color: white">Docker</span>
                                    <span class="badge"
                                          style="background-color: #0abab5; color: white">Telegram Bot</span>


                                    <span class="badge" style="background-color: #0abab5; color: white">OOP</span>
                                </h4>

                                <h4>
                                    <span class="badge"
                                          style="background-color: #0abab5; color: white">Linux(Ubuntu)</span>

                                    <span class="badge" style="background-color: #0abab5; color: white">Django</span>
                                    <span class="badge" style="background-color: #0abab5; color: white">FastAPI</span>

                                </h4>
                                <h4>
                                    <span class="badge" style="background-color: #0abab5; color: white">Postman</span>
                                    <span class="badge" style="background-color: #0abab5; color: white">Twillio</span>

                                    <span class="badge"
                                          style="background-color: #0abab5; color: white">Git (Github)</span>
                                </h4>
                                <h4>
                                    <span class="badge" style="background-color: #0abab5; color: white">HTML5</span>

                                    <span class="badge" style="background-color: #0abab5; color: white">CSS3</span>
                                    <span class="badge" style="background-color: #0abab5; color: white">Bootstrap</span>
                                </h4>
                                <h4>

                                    <span class="badge" style="background-color: #0abab5; color: white">MySQL</span>
                                    <span class="badge"
                                          style="background-color: #0abab5; color: white">PostgreSQL</span>

                                    <span class="badge" style="background-color: #0abab5; color: white">SQLite</span>
                                </h4>
                                <h4>
                                    <span class="badge" style="background-color: #0abab5; color: white">Aiogram</span>
                                    <span class="badge" style="background-color: #0abab5; color: white">SQLAlchemy</span>
                                </h4>
                                <h4>
                                    <span class="badge" style="background-color: #0abab5; color: white">Testing (PyTest/Unittest)</span>
                                </h4>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 text-bg-primary">
                        <h4 class="my-0 fw-normal">SOFT SKILLS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>
                                <h4>
                                    <span class="badge"
                                          style="background-color: #0abab5; color: white">Problem Solving</span>
                                    <span class="badge"
                                          style="background-color: #0abab5; color: white">Communication</span>

                                </h4>
                                <h4>
                                    <span class="badge"
                                          style="background-color: #0abab5; color: white">Collaboration</span>
                                    <span class="badge"
                                          style="background-color: #0abab5; color: white">Adaptability</span>
                                </h4>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Skill End -->
