{% load static %}

<!-- Testimonial Start -->
<div class="container-fluid py-5" id="testimonial">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Review</h1>
            <h1 class="position-absolute text-uppercase text-primary">Clients Say</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum
                            elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet accusam amet
                            eirmod eos, labore diam clita</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="img/testimonial-1.jpg"
                             style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum
                            elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet accusam amet
                            eirmod eos, labore diam clita</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="img/testimonial-2.jpg"
                             style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum
                            elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet accusam amet
                            eirmod eos, labore diam clita</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="img/testimonial-3.jpg"
                             style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->